.container {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  z-index: 1000;
  margin: 0 auto;
  max-width: calc(100% - 2rem);
  margin-top: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.48);
}

.container_logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.container_logo_image {
  width: 32px;
  height: 32px;
}

.container_logo_text {
  font-size: 16px;
  font-weight: 600;
}
