.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.title {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}
.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.subtitle {
  font-size: 0.8rem;
  font-weight: 400;
  text-align: center;
}
